*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
input,
textarea{
    outline: none;
}

a{
    list-style: none;
    text-decoration: none;
}

.body{
    font-family: 'Exo', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news{
    background: #F5F5F5;
    padding: 55px 0px;
}
.news-title{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    text-align: center;
    color: #6D010C;
    margin-bottom: 50px;
}
.news-item{
    text-align: center;
    margin: 0 auto;
    max-width: 780px;
    padding: 22px 0px 32px;
    border-bottom: 1px solid #DDDDDD;;
}
.news-body{
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}
.news-img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-right: 23px;
}
.news-foto{
    margin-right: 8px;
}
.news-right-top{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}
.news-name{
    font-family: 'Roboto';
    color: #276DD7;
}
.news-ago{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #A5A5A5;
}
.news-text{
    max-width: 396px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #737373;
    text-align: left;
}
.span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #276DD7;
}
.news-text:not(:last-child){
    margin-bottom: 20px;
}
.counter{
    width: 139px;
    height: 38px;
    background: #E9E9E9;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
.news-icon{
    margin-right: 5px;
}
.counter-number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #737373;
}
.news-view>a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #276DD7;
    cursor: pointer;
    transition: all .7s ease;
}
.news-btn{
    display: block;
    margin: 0 auto;
    width: 775px;
    height: 31px;
    background: #E9E9E9;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all .7s ease;
}
.news-btn:hover{
    background: #d3d1d1;
}
.news-btn>a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #276DD7;
    cursor: pointer;
    transition: all .7s ease;
}
.news-btn:hover>a{
    font-weight: 600;
}